<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<table>
    {if $row_len>0}
    <tr>
        <td>微信ID</td><td>姓名</td><td>手机号码</td><td>参与时间</td><td>采集花朵数量</td>
    </tr>
    {foreach $row as $val}
    <tr>
        <td>{$val['wxid']}</td><td>{$val['name']}</td><td>{$val['tel']}</td><td>{$val['jointime']}</td>
        <td>{$val['count']}</td>
    </tr>
    {/foreach}

    {/if}
</table>