
    {if $row_len>0}
    微信ID>姓名</td><td>手机号码</td><td>参与时间</td><td>采集花朵数量</td>

    {foreach $row as $val}

        <td>{$val['wxid']}</td><td>{$val['name']}</td><td>{$val['tel']}</td><td>{$val['jointime']}</td>
        <td>{$val['count']}</td>

    {/foreach}

    {/if}
