<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<table>
    {if $row_len>0}
    <tr>
        <td>微信ID</td><td>姓名</td><td>手机号码</td><td>分享时间</td><td>第几周</td><td>类型</td>
    </tr>
    {foreach $row as $val}
    <tr>
        <td>{$val['wxid']}</td><td>{$val['name']}</td><td>{$val['tel']}</td><td>{$val['time']}</td>
        <td>{$val['dateid']}</td><td>{$val['type']}</td>
    </tr>
    {/foreach}

    {/if}
</table>