﻿@charset "utf-8";
/* RESET */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time { margin: 0; padding: 0; }
html { font-size: 62.5%; /*10 ÷ 16 × 100% = 62.5%*/}
body { background: #fff; color: #363636;line-height: 1.25em; font-style: normal; font: normal 100% Helvetica, Arial, sans-serif;   overflow-x:hidden;}
img { border: 0 none; vertical-align: top; -ms-interpolation-mode:bicubic;-webkit-touch-callout:none; /*禁止用户保存图片*/ }
ul, li { list-style-type: none; }
h1, h2, h3, h4, h5, h6 { font-size: 1.4rem;/*1.4 × 10px = 14px */ -webkit-user-select:none; /*禁止用户选中文字*/ font-weight:normal; }
input, select, button, textarea { font-size: 1.2rem; font-style: normal; }
button { cursor: pointer; }
i, em, cite { font-style: normal; }
a, a:link { color: #222; text-decoration: none; -webkit-touch-callout:none; /*禁止用户iPhone打开新页面*/ }
a:visited {  }
a:active, a:hover { text-decoration: none; }
a:focus { outline: none; }
table { border-collapse: collapse; border-spacing: 0; }
/*特殊样式调用*/
.prevent_overflow { -webkit-box-sizing:border-box } /*防止元素溢出，指定该盒子的大小包括边框的宽度*/

/*Index*/
#section { width:100%; max-width:640px; margin:0 auto; min-height:500px; }
#section .main { width:100%; position:relative; overflow:hidden; }
#section .main img { width:100%; max-height:100%; }
#section .main .an_mountain,
#section .main .an_water,
#section .main .an_kiosk,
#section .main .an_flower_upperLeft { position:absolute; top:0px; left:0px; }
#section .main .an_kiosk { width:50%;  }
#section .main .an_flower_upperLeft { width:30%;  opacity:0; }

#section .main .an_flower_left { width:40%; position:absolute; bottom:50px; left:0px; opacity:0;  }
#section .main .an_flower_left a.flower_01 { position:absolute; top:0px; left:0px; z-index:200 }

#section .main .an_flower_right { width:80%; position:absolute; top:0px; right:0px; opacity:0; }
#section .main .an_flower_right a.flower_02,
#section .main .an_flower_right a.flower_03,
#section .main .an_flower_right a.flower_04,
#section .main .an_flower_right a.flower_05,
#section .main .an_flower_right a.flower_06 { position:absolute; top:0px; left:0px; z-index:200 }

.logo { width:60px; position:fixed; top:20px; right:20px; z-index:200; }
.shade,
.shadeTop,
.secondShade{ width:100%; height:100%; background:#fff; position:fixed; top:0px; left:0px; z-index:100; opacity:0.8; display:none; }
.shade p { z-index:501; width:100%; line-height:20px; text-align:center; position:absolute; bottom:60px; left:0px; color:#000;}
.secondShade{z-index:1002; opacity: 0.1; background:#fffeee;}


.tip p {   opacity:0.6;z-index:501; width:100%; line-height:20px; text-align:center; position:absolute; bottom:20px; left:0px; color:#000;}
.shadeTop {z-index:400; opacity:0.8; }

.footer { width:100%; height:50px; background:url(../img/footer_bg.jpg) repeat-x; position:fixed;left:0px; bottom:0px; display:-webkit-box; font-size: 1.4rem; z-index:600; }
.footer a {-webkit-box-flex:1; display:block; text-align:center; line-height:50px; }
.footer em { padding-top:16px; display:block; }

/*收集花语*/
.gatherPopup { width:300px; height:auto; text-align:center; z-index:502;position: absolute;top:50%; left:50%; margin-left:-150px; -webkit-animation:fadeIn 1s 1 0s; font-size: 1.4rem;}

.gatherPopup img { width:60%; }
.gatherPopup p { line-height:2rem; }
.gatherPopup .explain { width:266px; height:auto; overflow:hidden; background:url(../img/gatherPopup_bg.jpg) repeat; border:1px solid #a3a3a3; padding:14px 16px; background-size:cover; margin-top:10px; text-align:left; }
.firstGatherPopup .explain{background:none; border:none;}
.friendGatherLastPopup .explain{background:none; border:none; }
.gatherPopup .explain h2{ }
.gatherPopup .center{text-align: center;}

.gatherPopup ul { width:100%; height:auto; padding-top:10px; text-align:left;  }
.gatherPopup ul li { line-height:2rem;  }

.gatherPopup .perfect_but { width:220px; height:36px; background:url(../img/perfect_but.png) no-repeat;display:block; margin:20px auto 0 auto;  background-size:contain; text-indent:-9999px; }

#messageGatherPopup{ z-index:1000;}
#registerRemoteUserInfoDiy{ z-index: 1001;}

.gatherPopup h2 { line-height:2rem; padding-bottom:18px;}
.gatherPopup .labText { height:30px; padding-bottom:18px; }
.gatherPopup .labText label { height:28px; line-height:28px;  display:inline-block; vertical-align:top; }
.gatherPopup .labText em { height:28px; line-height:38px; padding-right:6px; font-size:2.4rem; }
.gatherPopup .labText .iptText { width:170px; height:26px; line-height:26px; border:1px solid #737373; margin-left:10px; padding:0 5px;  display:inline-block; vertical-align:top; }
.gatherPopup .iptBut { width:114px; height:28px; background:url(../img/submit_but.png) no-repeat;display:block; background-size:contain; border:none; margin:0 auto; }

/*收集花语*/
.myFlowers {width:88%; height:auto; margin:0 6%; padding-bottom:60px; }
.myFlowers p.myP { padding:16px 0 20px 0; }
.myFlowers .badge { width:100%; height:auto; }
.myFlowers .badge li { padding-bottom:10px; }
.myFlowers .badge li img { width:60px; display:inline-block;vertical-align:top; border:2px solid #fff; border-radius:50px;-webkit-border-radius:50px;-moz-border-radius:50px; }
.myFlowers .badge li article { display:inline-block;vertical-align:top;width: 200px }
.myFlowers .badge li article h3,
.myFlowers .badge li article p{ line-height:2.4rem; }

/*活动规则*/
.navContent,
.fashionChina { width:100%; max-width:640px; position:absolute;top:0px; left:50%; background:url(../img/fashion_bg.jpg) repeat-y; z-index:200; background-size:cover; font-size: 1.4rem; -webkit-text-size-adjust:none;}
.navContent .acIntroduction { width:88%; height:auto; margin:0 6%; padding-bottom:60px; }
.navContent .acIntroduction h2 { text-align:center; padding:30px 0 20px; font-weight:bold;}
.navContent .acIntroduction p {  line-height:1.8rem; text-indent: 30px;}
.navContent .acIntroduction .ddindenttxt{ text-indent: 30px;}
.navContent .acIntroduction dl { padding:20px 0; }
.navContent .acIntroduction dl dt,
.navContent .acIntroduction dl dd { line-height:1.8rem;}
.navContent .acIntroduction .bold{ font-weight:bold;}
.navContent .acIntroduction .red{ color:red;}
.navContent .prize{width:80%;}


/*时尚中国*/
.fashionChina { background:url(../img/fashionInx_bg.jpg) repeat-y;background-size:cover;}
.fashionChina .w300 {position: absolute;top:50%; left:50%; margin-left:-150px; width:300px; height:auto; z-index:500;font-size: 1.4rem; }
.fashionChina .w300 a.video_prepare,
.fashionChina .w300 a.immediately { width:200px; height:46px;display:block; margin:0 auto; text-indent:-9999px;  }
.fashionChina .w300 a.video_prepare {  background:url(../img/video_prepare.jpg) no-repeat; background-size:cover; }
.fashionChina .w300 a.immediately { background:url(../img/immediately.jpg) no-repeat;  background-size:contain; margin:26px auto 60px; }
.fashionChina .w300 a.immediatelyCheck {width:200px; height:46px;display:block; margin:0 auto; text-indent:-9999px;  background:url(../img/immediately1.jpg) no-repeat;  background-size:contain; margin:26px auto 60px; display:none;}

  .fashionChina .w300 a.immediatelyHelp {width:200px; height:46px;display:block; margin:0 auto; text-indent:-9999px;  background:url(../img/immediately2.jpg) no-repeat;  background-size:contain; margin:26px auto 60px; display:block;}
.fashionChina .w300 .navChina { display:-webkit-box; }
.fashionChina .w300 .navChina a { -webkit-box-flex:1; display:block; text-align:center; line-height:50px; }
.fashionChina .w300 .navChina em { padding-top:16px; display:block; }

video { width:100%; height:100%; position:absolute; top:0px; left:0px; z-index:800 }

/*动画区域*/
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0; /*初始状态 透明度为0*/
    }
    50% {
        opacity: 0; /*中间状态 透明度为0*/
    }
    100% {
        opacity: 1; /*结尾状态 透明度为1*/
    }
}
.an_mountain{
    -webkit-animation-name: fadeIn; /*动画名称*/
    -webkit-animation-duration: 2s; /*动画持续时间*/
    -webkit-animation-iteration-count: 1; /*动画次数*/
    -webkit-animation-delay: 0s; /*延迟时间*/
}

.an_water{
    -webkit-animation-name: fadeIn; /*动画名称*/
    -webkit-animation-duration: 2.5s; /*动画持续时间*/
    -webkit-animation-iteration-count: 1; /*动画次数*/
    -webkit-animation-delay: 0s; /*延迟时间*/
}

.an_kiosk{
    -webkit-animation-name: fadeIn; /*动画名称*/
    -webkit-animation-duration: 3s; /*动画持续时间*/
    -webkit-animation-iteration-count: 1; /*动画次数*/
    -webkit-animation-delay: 0s; /*延迟时间*/
}

@-webkit-keyframes fadeInLeft{
0%{
    opacity:0;
    -webkit-transform:translateX(-20px)
}
100%{
    opacity:1;
    -webkit-transform:translateX(0)}
}

@-moz-keyframes fadeInLeft{
0%{
    opacity:0;
    -moz-transform:translateX(-20px)}
100%{
    opacity:1;
    -moz-transform:translateX(0)}
}

/*.an_flower_upperLeft{
    -webkit-animation-name: fadeInLeft;
    -webkit-animation-duration: 3.5s; 
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0s; 
}*/

@-webkit-keyframes fadeInUp{
0%{
    opacity:0;
    -webkit-transform:translateY(20px)}
100%{
    opacity:1;
    -webkit-transform:translateY(0)}
}

@-moz-keyframes fadeInUp{
0%{
    opacity:0;
    -moz-transform:translateY(20px)}
100%{
    opacity:1;
    -moz-transform:translateY(0)}
}

/*.an_flower_left{
    -webkit-animation-name: fadeInUp; 
    -webkit-animation-duration: 3.5s; 
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0s; 
}*/

@-webkit-keyframes fadeInRight{
0%{
    opacity:0;
    -webkit-transform:translateX(20px)}
100%{
    opacity:1;
    -webkit-transform:translateX(0)}
}
@-moz-keyframes fadeInRight{
0%{
    opacity:0;
    -moz-transform:translateX(20px)}
100%{
    opacity:1;
    -moz-transform:translateX(0)}
}

/*.an_flower_right{
    -webkit-animation-name: fadeInRight;
    -webkit-animation-duration: 3.5s;
    -webkit-animation-iteration-count: 1; 
    -webkit-animation-delay: 0s;
}*/


