﻿@charset "utf-8";
/*menus*/
.menus {width:60%;padding:0 20%;height:auto; overflow:hidden; position:fixed; top:50%; z-index:2600; text-shadow:1px 1px 2px #fff;}
.hidden{display:none;}
.menus  h2{font-size:1.8em;line-height:1.7em; padding-bottom:4px; text-align: left;}
.menus  h2 i{display:inline-block; width:8%; height:100%; background:url(/peony/images/wap/img/hua_icon.png) left center no-repeat; background-size:95% auto;}
.menus h2 a{padding-left: 0.2rem;}
.menus ul{font-size:1.4em;line-height:1.7em;}
.menus li{padding-left:6%; text-align:left;}

#nav {width:8%; height:50px; position:fixed;left:15px; bottom:0px;font-size: 1.4rem; z-index:2600; cursor:pointer;}
#nav .btn {width:100%; padding-left:5%; padding-top:13px;}
#nav .btn i {width:100%; height:3px; background:#363636; margin-bottom:5px; display:block;}

.overbox{width:100%; height:100%; background:url(/peony/images/wap/img/fashion_bg_2.jpg); position:fixed; top:0; left:0; z-index:2300;background-size:100% auto;opacity: 1;}

/* 淡入-从左 */
@-webkit-keyframes fadeinL{
    0%{opacity:0;-webkit-transform:translateX(-100%);}
    100%{opacity:1;-webkit-transform:translateX(0);}
}
@-moz-keyframes fadeinL{
    0%{opacity:0;-moz-transform:translateX(-100%);}
    100%{opacity:1;-moz-transform:translateX(0);}
}
@-ms-keyframes fadeinL{
    0%{opacity:0;-ms-transform:translateX(-100%);}
    100%{opacity:1;-ms-transform:translateX(0);}
}
@keyframes fadeinL{
    0%{opacity:0;transform:translateX(-100%);}
    100%{opacity:1;transform:translateX(0);}
}
.a-fadeinL{
    -webkit-animation:0.5s ease-out backwards;
    -moz-animation:0.5s ease-out backwards;
    -ms-animation:0.5s ease-out backwards;
    animation:0.5s ease-out backwards;
    -webkit-animation-name:fadeinL;
    -moz-animation-name:fadeinL;
    -ms-animation-name:fadeinL;
    animation-name:fadeinL;
}
/* 淡出-向左 */
@-webkit-keyframes fadeoutL{
    0%{opacity:1;-webkit-transform:translateX(0);}
    100%{opacity:0;-webkit-transform:translateX(-100%);}
}
@-moz-keyframes fadeoutL{
    0%{opacity:1;-moz-transform:translateX(0);}
    100%{opacity:0;-moz-transform:translateX(-100%);}
}
@-ms-keyframes fadeoutL{
    0%{opacity:1;-ms-transform:translateX(0);}
    100%{opacity:0;-ms-transform:translateX(-100%);}
}
@keyframes fadeoutL{
    0%{opacity:1;transform:translateX(0);}
    100%{opacity:0;transform:translateX(-100%);}
}
.a-fadeoutL{
    -webkit-animation:0.5s ease-in forwards;
    -moz-animation:0.5s ease-in forwards;
    -ms-animation:0.5s ease-in forwards;
    animation:0.5s ease-in forwards;
    -webkit-animation-name:fadeoutL;
    -moz-animation-name:fadeoutL;
    -ms-animation-name:fadeoutL;
    animation-name:fadeoutL;
}


.backdrop-orientation,.backdrop-follow{display:none;position:fixed;top:0;left:0;z-index:99998;height:100%;width:100%;background:#fff}
.modal-orientation{display:none;position:fixed;left:50%;top:50%;z-index:99999;width:150px;height:140px;padding:30px 0 0;margin:-70px 0 0 -75px;font-size:12px;text-align:center;color:#fff;background:rgba(0,0,0,0.3);border-radius:20px}
.modal-orientation p{margin:10px 0 0}
.modal-orientation .btn-close{position:absolute;top:3px;right:3px;width:24px;height:24px;background:url(../img/icon-close.png) no-repeat 50% 50%; background-size:80%;}
.ir{background-color:transparent;border:0;overflow:hidden}
.ir:before{content:"";display:block;width:0;height:150%}



