/**
 * Created by alee on 3/4/14.
 */
input{border:1px #999 solid; border-radius:3px; padding:4px;}
select{border:1px #999 solid; border-radius:3px; padding:3px 2px;}
input:focus, select:focus{border:1px #1ABC9C solid;}
input[type="submit"], input[type="button"] ,.btn{background-color:#1ABC9C; color:#fff; border-radius:3px; padding:4px; border:0;}
input[type="submit"]:hover ,input[type="submit"]:focus ,input[type="button"]:hover, input[type="button"]:focus ,.btn:hover ,.btn:focus{background-color:#2fe2bf; cursor:pointer;}
input[type="radio"]{ position: relative; top:2px;}

* {
    margin:0px;
    padding:0px;
}
html, body{
    height:100%;
    overflow: hidden;

}
html>body{		/*-- for !IE6.0 --*/
    width: auto;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

}
body {
    border:8px solid #ffffff;
    background-color: #ffffff;min-width:230px;
}
#mainDiv {
    width: 100%;
    height: 100%;
    padding:60px 0px 25px 0px;;


}
#centerDiv{
    width: 100%;
    height: 100%;
    background-color:#00CCFF;
    padding-left:158px;
}
#mainDiv>#centerDiv{		/*-- for !IE6.0 --*/
    width: auto;
    height: auto;
    position: absolute;
    top: 56px;
    left: 0px;
    right: 0px;
    bottom: 20px;

}
#left{
    width:158px;
    height:100%;
    background-color:#D2E4F0;
    position:absolute;
    left:0px;
}
#lhead{
    background:url(images/toggle.png) no-repeat center right #1ABC9C;
    height:35px;
    font-size:14px;
    color:#fff;
    text-align:center;
    line-height:35px;
    font-weight: 700;
}
#right{
    width:100%;
    height:100%;
    background:#ffffff;
    position:absolute;
    overflow-y:auto;
    padding:20px 0 0 10px;
    font-size:12px;
    font-family:"宋体";
}
#centerDiv>#right{
    width:auto;
    height:auto;
    position:absolute;
    top:0px;
    right:0px;
    left:158px;
    bottom:0px;
}
#topDiv{
    width:100%;
    height:56px;
    background-color:#1079a8;
    position:absolute;
    top:0px;
    overflow:hidden;
}
#topDiv ul{
    list-style:none;
    font-size:12px;

    width:100%;
    margin:0;
    padding:0;
}
#topDiv ul li{
    float:left;
    width:15%
}
#topDiv ul li a {
    display:block;
    width:100%;
    height:25px;
    line-height:25px;
    background:url(images/menu-bg.jpg) repeat-x;
    color:#fff;
    direction:none;
    text-align:center;
    border-bottom:1px #000066 solid;
    border:1px #06597D solid;
}
#tmenu{padding-left:25px; font-size:24px; color:#fff; line-height:56px; font-weight:700;}
#current{
    background:#ccc;
    height:25px;
    line-height:25px;
    margin:-20px 0 0 -10;
    overflow:hidden;
}
#bottomDiv{
    width:100%;
    height:20px;
    background-color:#C1B6B0;
    position:absolute;
    bottom:0px;
    bottom:-1px;		 /*-- for IE6.0 --*/
}
#left ul{
    list-style:none;
    font-size:12px;
}
#left ul li{border-bottom:1px #2c3e50 solid;}
#left ul li a{
    display:block;
    height:30px;
    line-height:30px;
    background:#34495E;
    color:#FFFFFF;
    direction:none;
    text-align:center;
    text-decoration:none;
}
#left ul li a:hover,#left ul li a.current{
    color:#1ABC9C;
    background-color:#2c3e50;
    direction:none;
    text-align:center;
}
#form{
    width:80%;
    height:99%;
    margin:0 auto;
    _margin-left:20%;
    padding-top:20px;
}
#form p{
    padding-bottom:20px;
}
fieldset{border-radius:5px; padding:10px 20px;
    margin:0 auto 20px;
    line-height:35px;
}
fieldset legend{font-size:14px; padding: 0 5px; color:#000;}
.btn_box{padding: 10px 20px;}
.gt{
    color:red;
}
.help{
    color:red;
}
.help2{
    color:green;
    padding-right: 10px;;
}
.help3{
    color:purple;
}
.icon-edit,.icon-remove{text-decoration:none;color:#333;}
.icon-edit i{width:14px; height:13px; display:inline-block;background:url(images/glyphicons-halflings.png) -96px -72px; margin-right:2px;}
.icon-remove i{width:14px; height:13px; display:inline-block;background:url(images/glyphicons-halflings.png) -312px 0; margin-right:2px;}

/**userlist**/
table {
    width: 100%;
    border: 1px solid #B1CDE3;
    padding:0;
    border-collapse: collapse;
    margin-bottom: 20px;
}

td {
    border: 1px solid #B1CDE3;
    background: #fff;
    font-size:12px;
    padding: 5px 3px 5px 8px;
    color: #4f6b72;
}
.meta{
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.meta li{
    list-style: none;
}


