/**
 * Markup by SonicHTML
 * http://www.sonichtml.com
 */
/*-- index_most --*/
.index_bank{overflow: hidden;*zoom:1;width:1000px;height:582px;margin:0 auto;}
	.bank_cont{position: relative; width:100%; height:582px; background:#999999;}

	
