/**
 * Markup by SonicHTML
 * http://www.sonichtml.com
 */
.content.wide_1200{width:1200px; background:url(img/donation_bg.jpg) no-repeat;}
/*-- index_donation --*/
.index_donation{*zoom:1;width:888px;height:auto;margin:0 auto; position:relative;}
	.donation_content{width:475px; height:390px; padding-top:80px;margin:0 auto;position:relative;}
	.donation_content .title{width:460px; margin:0 auto;}
	.donation_content h2{font-size:14px; color:#7a7979;}
	.donation_content p{font-size:12px; color:#898989; line-height:21px;}
	.donation_content p span{color:#9f7607;}
	
	
	.donate_num{width:270px;position:absolute; top:227px; left:15px;  line-height:50px;
		}
	.donate_num .num_inp{width:100%; height:100%; padding:0; background:none; border:0; text-align:right; font:normal 50px 'digifaceregular';color:#7ffdc0;
	-webkit-text-shadow:0 0 4px #4fe09b,1px 1px 2px #000;
		   -moz-text-shadow:0 0 4px #4fe09b,1px 1px 2px #000;
		        text-shadow:0 0 4px #4fe09b,1px 1px 2px #000;
				   behavior: url(PIE.htc);
	}
	.donation_content .donate_btn{width:110px; height:67px; position:absolute; top:225px; right:0px; background:url(img/donation_btn.png) no-repeat;}
		.donation_content .donate_btn a{height:67px; display:block; text-indent:-9999px;}
	.donate_total{width:220px;position:absolute; top:375px; left:88px; line-height:40px;text-align:right;font:italic 40px 'digifaceregular';color:#7ffdc0;
		-webkit-text-shadow:0 0 4px #4fe09b,1px 1px 2px #000;
		   -moz-text-shadow:0 0 4px #4fe09b,1px 1px 2px #000;
		        text-shadow:0 0 4px #4fe09b,1px 1px 2px #000;
				   behavior: url(PIE.htc);}
	.goal_num{position:absolute; right:110px; top:430px; font-size:16px; color:#4c4744;}
	.goal_num span{color:#d15009; font-size:14px;}



	.donation_hidden{width:888px;height:582px; background:url(img/donate_transparent.png) center no-repeat; display:none;position:absolute; top:0; left:0;}
	.donation_hidden.blocks{display:block;}
	.donation_hidden .close{width:20px; height:20px; margin:0;position:absolute; right:208px; top:67px; z-index:50;}
	
	/*-- 温暖礼券使用说明  --*/
	.introduction{width:586px; height:546px;font-size:12px;color:#595857;line-height:21px;margin:36px auto 0 auto; background:url(img/introduction_bg.png) center 20px no-repeat; position:relative;}
		.introduction .tips{width:415px;margin:0 auto; padding-top:85px;padding-bottom:20px;border-bottom:1px #d4d2d0 solid;}
		.introduction .tips li{padding-left:22px;margin-bottom:10px;}
		.introduction .tips li.tips1{background:url(img/tips1.gif) left top no-repeat;}
		.introduction .tips li.tips2{background:url(img/tips2.gif) left top no-repeat;}
		.introduction .tips li.tips3{background:url(img/tips3.gif) left top no-repeat;}
		.introduction .tips li.tips4{background:url(img/tips4.gif) left top no-repeat;}
		.introduction .tips li.tips5{background:url(img/tips5.gif) left top no-repeat;}
		
		.introduction .reunion_size{width:415px; height:130px;padding-top:20px;border-top:1px #fff solid; margin:0 auto; }
		.introduction .reunion_btn{width:81px; height:45px; position:absolute; top:320px; left:260px; background:url(img/temprature_btn.png) no-repeat;}
		.introduction .reunion_btn a{height:45px; display:block; text-indent:-9999px;}	