/**
 * Markup by SonicHTML
 * http://www.sonichtml.com
 */
.content.wide_1200{width:1200px; background:url(img/gift_bg.jpg) no-repeat;}
/*-- index_gift --*/
.index_gift{*zoom:1;width:455px;height:auto;margin:0 auto;padding-top:40px; position:relative;}
	.index_gift .title{width:100%; height:50px; position:relative;}
	.index_gift .title a{width:105px;display:block; float:left; height:35px; line-height:35px; margin-left:10px; margin-right:20px; text-indent:-9999px;}
	.index_gift .title a.goback{width:20px; height:20px; margin:0;position:absolute; right:-10px; top:0;}
	
	.gift_content{width:100%; height:367px; margin:0 auto;}
	.gift_content .gift_wrap{height:367px;}
	.gift_content dl{margin-bottom:20px; padding-left:10px;}
	.gift_content dl dt{color:#db8d2a; font-size:16px; line-height:25px; padding-left:25px; background:url(img/gift_li.png) left center no-repeat; margin-bottom:8px;}
	.gift_content dl dt span{color:#31302f; font-size:12px; padding-left:25px; font-style:italic;}
	
	.gift_content dl dd{font-size:12px; color:#595857; line-height:22px; padding-left:20px;}
	.gift_content dl dd .gift_img{width:105px; height:65px; border:2px #fff solid; -webkit-box-shadow:0 1px 5px #999;-moz-box-shadow:0 1px 5px  #999; box-shadow:0 1px 5px #999; float:left; margin-right:15px;}
	.gift_content dl dd .gift_txt{float:left; width:280px;}activity