/**
 * Markup by SonicHTML
 * http://www.sonichtml.com
 */

/* Reset */
html { color:#000; background:#ECECEC; -webkit-text-size-adjust:none; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset, img { border:0; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style:inherit; }
del, ins { text-decoration:none; }
li { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; }
q:before, q:after { content:''; }
abbr, acronym { border:0; font-variant:normal; }
sup, sub { vertical-align:baseline; }
/* because legend doesn't inherit in IE */
legend { color:#000; }
input, button, textarea, select, optgroup, option { font-family:inherit; font-size:inherit; font-style:inherit; font-weight:inherit; }
input, select { vertical-align:middle; }
cite, em { font-style:normal }
/* New Clearfix */
.clear { clear:both; height:1px; margin:0; padding:0; font-size:15px; line-height:1px; }
.clearfix:after, .content:after, #content:after, .bd:after { visibility:hidden; display: block; font-size:0; content:" "; clear: both; height:0; }
* html .clearfix, * html .content, * html #content, * html .bd { zoom:1; }/* IE6 */
*:first-child+html .clearfix, *:first-child+html .content, *:first-child+html #content, *:first-child+html .bd { zoom:1; }/* IE7 */
/* Defaults */
:focus { outline:0 }
a:link, a:visited { text-decoration:none; color:#333 }
a:hover { text-decoration:none; }
body { font:normal 12px Microsoft YaHei, YouYuan, Arial, \5b8b\4f53, sans-serif; }
img { border:0; vertical-align:bottom }
h1, h2, h3, h4, h5, h6 { font-size:1em; }
p { margin:0 }
.left { float:left; }
.right { float:right; }
.orange, .orange:link, .orange:visited { color: #c4a280; }
.gray, .gray:link, .gray:visited { color: #c0bfbe; }
/* Public Sytle
------------------------------------------------------------------------------------------------------------*/
/*-- Containers --*/
html, body { background: url(img/bg.jpg) no-repeat center top #2894be; }
html, body { overflow-y:hidden; }
#skip { height:0px; overflow:hidden; width:0px }
.page { min-height:700px; _height:700px; }
/*-- Header --*/
.header { width:100%; height:45px; border-top:1px #10597d solid; }
.header .inner { position:relative; width:1000px; margin: 0 auto; }
.header .logo { position:absolute; display: block; text-indent:-9999px; left:0px; top:12px; width:130px; height:32px; background: url(img/logo.png) no-repeat; }
/*- navigation -*/
	.navigation { position: absolute; right:0px; top:0px; height:32px; width:520px; zoom:1; }
.navigation .nav { width:300px; height:26px; float:right; }
.navigation .nav .item { display: inline; float:left; height:26px; }
.navigation .nav a { display: block; text-indent: -9999px; width:53px; height:100%; background: url(img/nav_bg.png) no-repeat; }
.navigation .nav .point_li { display: inline; float:left; width:15px; height:25px; }
.navigation .nav .n1 { background: url(img/header_nav01.png) no-repeat; }
.navigation .nav .n2 { background: url(img/header_nav02.png) no-repeat; }
.navigation .nav .n3 { background: url(img/header_nav03.png) no-repeat; }
.navigation .nav .n4 { background: url(img/header_nav04.png) no-repeat; width:88px; }
.navigation .nav a:hover, .navigation .nav a.current { background-position: 0 -26px; _background-position: 0 -25px; }
.header .h_uinfo { width:140px; height:37px; background: url(img/hello_bg.png) no-repeat; padding:0 20px 0 60px; float:right; }
.header .h_uinfo a { line-height:25px; color:#fff; }
/*-- Footer --*/
.footer { color: #fff; width:100%; }
.footer .inner { position: relative; width: 1000px; margin: 0 auto; }
.storey {background: url(img/storey.png) no-repeat; width:150px; height:35px; float:left; line-height:16px; padding:29px 40px 0 210px; position:relative; cursor:pointer; overflow: hidden;}
.storey span { display: inline-block; width: 50px; text-align: center; font-size: 17px; position: absolute; left:64px; top: 35px; }
.storey em { background: #1d6c7b; border-radius: 20px; display: block; width: 60px; text-align: center; position: absolute; left: 140px; top:30px;}
.footer .copyright {width:100%x; text-align:center; padding:10px 0;}
.footer_nav { overflow: hidden; *zoom:1;
float:left; padding-top:22px; }
.footer_nav li { width:123px; height:42px; float: left; margin-right:8px;}
.footer_nav li.f_nav01 { background: url(img/rule.png) no-repeat; }
.footer_nav li.f_nav02 { background: url(img/prize.png) no-repeat; }
.footer_nav li.f_nav03 { background: url(img/rank.png) no-repeat; }
.footer_nav li.f_nav04 { background: url(img/notice.png) no-repeat; }
.footer_nav li a { display:block; height:42px; text-indent:-9999px; }
/*-- Content --*/
.content { position: relative; width: 1000px; height:550px; margin: 0 auto; }
/* Module Sytle
------------------------------------------------------------------------------------------------------------*/
/*-- index_wrap --*/
.index_wrap { overflow: hidden; *zoom:1;
width:1000px; height:540px; margin:0 auto; }
.index_main { position: relative; width:100%; height:490px; background: url(img/index_main.jpg) center 40px no-repeat; }
.index_banner { position: absolute; left:372px; top:295px; display: block; width:200px; height:86px; text-indent:-9999px; }
/*- banner link -*/
	.banner_link { width:472px; height:156px; }
.banner_link li { position: absolute; top:445px; width:100px; height:150px; }
.banner_link a { display: block; height: 100%; text-indent: -9999px; visibility:hidden; }
.banner_link .b1 { left:260px; }
.banner_link .b2 { left:390px; }
.banner_link .b3 { left:520px; }
.banner_link .b4 { left:650px; }
.help_bg_1 { background:url(img/help_1.png); width:85px; height:132px; position:absolute; left:0; top:0; z-index:10; }
.help_bg_2 { background:url(img/help_2.png); width:84px; height:131px; position:absolute; left:8px; top:16px; z-index:10; }
.help_bg_3 { background:url(img/help_3.png); width:93px; height:132px; position:absolute; left:0; top:0; z-index:10; }
.help_bg_4 { background:url(img/help_4.png); width:83px; height:131px; position:absolute; left:8px; top:15px; z-index:10; }
.user_img_1 { padding:4px; border:2px solid #C5D6EE; width:50px; height:50px; position:absolute; left:14px; top:13px; z-index:9; background:#FFF; }
.user_img_2 { padding:4px; border:2px solid #C5D6EE; width:50px; height:50px; position:absolute; left:20px; top:29px; z-index:9; background:#FFF; }
.user_img_3 { padding:4px; border:2px solid #C5D6EE; width:50px; height:50px; position:absolute; left:10px; top:13px; z-index:9; background:#FFF; }
.user_img_4 { padding:4px; border:2px solid #C5D6EE; width:50px; height:50px; position:absolute; left:15px; top:28px; z-index:9; background:#FFF; }

.QR{width:218px; height:250px;background: url(img/qr.png) no-repeat;position: absolute;top:320px; right:0px;}

/*-- rule --*/
.rule .content { background:url(img/rule_bg.png) center top no-repeat; height: 625px; }
.rule_box {
*zoom:1; width:500px; height:auto; margin:0 auto; padding-top:40px; }
.rule_box .title { width:100%; height:65px; position:relative; }
.rule_box .title a.goback { width:40px; height:40px; position:absolute; right:-57px; top:8px; }
.rule_content { line-height:24px; color:#fff; }
.rule_content .rule_title { width:100%; height:55px; margin-bottom:60px; padding-top:12px; font-size:14px; line-height:20px; }
.rule_content .play1 { width:100%; height:95px; margin-bottom:50px; font-size:14px; line-height:20px; }
.rule_content .play2 { width:100%; height:70px; margin-bottom:20px; font-size:14px; line-height:20px; }
.rule_content .remark { color:#9ddcf2; font-size:12px; line-height:18px; letter-spacing:0.5px; }
/*-- floor --*/
.floor .content { background:url(img/floor_bg.png) center top no-repeat; height: 625px; }
.floor_box {
*zoom:1; width:500px; height:auto; margin:0 auto; padding-top:40px; }
.floor_box .title { width:100%; height:65px; position:relative; }
.floor_box .title a.goback { width:40px; height:40px; position:absolute; right:-57px; top:8px; }
.floor_content {  color:#fff; position:relative;}
.floor_content .floor_list{ width:530px; height:270px; position:absolute; left:-13px; top:0; }
.floor_content .floor_list .c1{color:#F90; text-shadow:1px 1px 0px #FFF; font-family:"Arial Black", Gadget, sans-serif;  font-size:16px;}
.floor_content .floor_list .c2{color:#03374C; }
.floor_content .my_list{ width:125px; height:38px; position:absolute; left:-14px; top:285px; display:block; text-indent:-9999px; overflow:hidden;  }
.floor_content .play_now{ width:201px; height:69px; position:absolute; left:146px; top:413px; display:block;  text-indent:-9999px; overflow:hidden;}
.floor_content .page_list{ width:401px; height:25px; position:absolute; left:120px; top:295px; text-align:right; }
.floor_content .page_list a{color:#03374C; padding:2px 5px; }
.floor_content .page_list a:hover{color:#F90;}
.floor_content .page_list a.current{color:#FFF; font-weight:800; }
/*-- prize --*/
.prize .content { background:url(img/prize_bg.png) center top no-repeat; height: 625px; }
.prize_box {
*zoom:1; width:590px; height:auto; margin:0 0 0 182px; padding-top:40px; }
.prize_box .title { width:100%; height:65px; position:relative; }
.prize_box .title a.goback { width:40px; height:40px; position:absolute; right:-40px; top:8px; }
.prize_content { line-height:24px; color:#fff; }
.prize_content .rule_title { width:100%; height:55px; margin-bottom:60px; padding-top:12px; font-size:14px; line-height:20px; }
.prize_content { height:367px; }
.prize_content .prize_wrap { width:100%; height:450px; font-size:14px; line-height:20px; }
.prize_content .prize_wrap .gift_b3{height:730px; position:relative;}
.prize_content .prize_wrap .gift_b3 .pri_img{ width:568px; height:730px; position:absolute; left:0; top:0; }
.prize_content dl { padding:20px 0; }
.prize_content dl dt { width:105px; height:65px; float:left; }
.prize_content dl dt img { display:block; border:2px #fff solid; }
.prize_content dl dd { float:left; font-size:12px; color:#fff; line-height:20px; padding-left:20px; }
.prize_content dl dd h2 { font-size:14px; line-height:22px; }
.prize_content dl dd p { }
/*-- rank --*/
.rank .content { background:url(img/rank_bg.png) center top no-repeat; height: 625px; }
.rank_box {
*zoom:1; width:520px; height:auto; margin:0 auto; padding-top:40px; }
.rank_box .title { width:100%; height:65px; position:relative; }
.rank_box .title a.goback { width:40px; height:40px; position:absolute; right:-57px; top:8px; }
.rule_content { line-height:24px; color:#fff; }
.rule_content .rule_nav { }
.rule_content .rule_nav li { float:left; height:60px; cursor:pointer; }
.rule_content .rule_nav li a { width:202px; height:60px; display:block; }
.rule_content .rule_nav li .rank_tab01 { width:160px; background:url(img/rank_tab01.png) center 0 no-repeat; }
.rule_content .rule_nav li .rank_tab02 { width:180px; background:url(img/rank_tab02.png) center 0 no-repeat; }
.rule_content .rule_nav li .rank_tab03 { width:180px; background:url(img/rank_tab03.png) center 0 no-repeat; }
.rule_content .rule_nav li a:hover, .rule_content .rule_nav li .current { background-position:center -60px; }
.rank_con { padding-top:55px; position:relative; }
.rank_wrap1, .rank_wrap2, .rank_wrap3 { height:315px; }
.rank_list { line-height:39px; font-size:16px; }
.rank_list tr { }
.rank_list tr td { padding:12px 0; }
.rank_list tr td .sort { width:32px; font-size:22px; font-style:italic; text-align:center; margin:0 auto; background:url(img/sort_icon.png) center no-repeat; *background:url(img/sort_icon.gif) center no-repeat;
display:block; color:#04638d; }
.rank_list tr td .top { background:url(img/top_sort_icon.png) center no-repeat; *background:url(img/top_sort_icon.gif) center no-repeat;
color:#f6911e; }
.rank_list tr td .rank_face { width:35px; border:2px #fff solid; float:left; }
.rank_list tr td .rank_face img { display:block; }
.rank_list tr td .rank_detail { float:left; padding-left:5px; }
.rank_list tr td .num { text-align:center; display:block; }
/*-- notice --*/
.notice .content{background:url(img/notice_bg.png) center top no-repeat; height:590px;}
	.notice_box{*zoom:1;width:500px;height:auto;margin:0 auto;padding-top:40px;}
	.notice_box .title{width:100%; height:65px; position:relative;}
	.notice_box .title a.goback{width:40px; height:40px;position:absolute; right:-57px; top:8px;}
	.notice_content{line-height:24px; color:#fff; font-size:12px;line-height:20px;}
	.notice_content .notice_title{width:100%; margin-bottom:10px; font-size:22px; text-align:center; line-height:22px;}
	.notice_content .n1{margin-bottom:10px;}
	.notice_content .n2{width:100%;text-indent:20px;}
	.notice_content .n3{padding-top:10px;}
	.notice_content .remark{color:#9ddcf2; font-size:12px;letter-spacing:0.5px;}	
/*-- select --*/
.select .content { background:url(img/select_bg.jpg) center 40px no-repeat; }
.select_box {
*zoom:1; width:750px; height:auto; margin:0 auto; position:relative; }
.select_box .search { width:175px; height:25px; line-height:25px; position:absolute; *zoom:1;
right:5px; top:128px; border:0; background:none; color:#cfd5d9; }
.friends { width:200px; position:absolute; top:153px; right:2px; background:#315264; color: #cfd5d9; z-index:5; display:none; }
.friends .space_rule_wrap { overflow:hidden; overflow-x:scroll; height:123px; }
.friends_list { clear:both; }
.friends_list li { position:relative; height:30px; margin:0; padding:0; border-bottom:1px solid #ccc; color:#cfd5d9; text-indent:10px; line-height:30px; cursor:pointer; }
.friends_list li.hover { background:#f3891c; color:#fff; text-decoration:none; }
.select_content { line-height:24px; color:#fff; padding-top:205px; }
.switch_friends { position:relative; width:750px; margin:0 auto; }
.switch_friends .content { position:relative; overflow:hidden; width:640px; height:165px; margin:0 auto; padding:0; background:none; }
.switch_friends .js_switch_ct { position:absolute; white-space:nowrap; padding:0; }
.switch_friends .js_switch_ct li { position: relative; *zoom:1;
float: left; width:160px; height:165px; cursor:pointer; }
.switch_friends .js_switch_ct .fri_face { height:100%; text-align:center; }
.switch_friends .js_switch_ct .fri_face img {width:116px; height:116px; border:3px #fff solid; }
.switch_friends .js_switch_ct .fri_face img.selected { border:3px #f90 solid; }
.switch_friends .js_switch_ct h2 { position:absolute; left:0; top:110px; height:51px; width:160px; background:url(img/name_bg.png) center no-repeat; }
.switch_friends .js_switch_ct .name { display:block; padding-top:20px; text-align:center; line-height:25px; font-size:12px; font-weight:bolder; color: #fff; }
.switch_friends .js_switch_prev,  .switch_friends .js_switch_next { position:absolute; top:55px; display: block; text-indent: -9999px; width:70px; height:60px; cursor:pointer; background:url(img/btn_arrow.png); }
.switch_friends .js_switch_prev { left:-3px; background-position: 0px 0px; }
.switch_friends .js_switch_next { right:-3px; background-position: 0 -60px; }
.switch_friends .js_switch_off { cursor:default; }
#select_name { position:absolute; top:220px; left:355px; width:145px; line-height:25px; text-align:center; }
.next_btn { position:absolute; top:195px; left:580px; width:188px; height:78px; text-indent:-9999px; }
/*  */
#markDiv { position:fixed; _position:absolute; z-index:9998; left:0; top:0; width:100%; background:url(img/markDiv_bg.jpg) top center no-repeat; background-size:100% 100%; -moz-background-size:100% 100%; opacity:0.7; filter:alpha(opacity=70); }
.mask_markdiv { opacity:0.2; filter:alpha(opacity=20); background:#FFF; }
/* 授权登录 */
.login { background:url(img/login.png) no-repeat; width:683px; height:475px; position:absolute; z-index:9999; left:50%; margin:0 0 0 -341px; top:100px; }
.login_con { width:320px; height:100%; margin:0 auto; position:relative; }
.login_btn1 { width:55px; height:55px; position:absolute; top:85px; right:-62px; text-indent:-9999px; }
.login_btn2 { width:320px; height:85px; position:absolute; top:155px; left:0px; text-indent:-9999px; }
.login_btn3 { width:320px; height:85px; position:absolute; top:238px; left:0px; text-indent:-9999px; }
/*-- 成功冻住 --*/
.freeze_ok { background:url(img/freeze_ok_bg.png) no-repeat; width:776px; height:623px; position:absolute; z-index:9999; left:50%; margin:0 0 0 -388px; top:100px; }
.freeze_ok_con { width:400px; height:100%; margin:0 auto; position:relative; }
.freeze_ok_txt { text-align:center; color:#f0ebeb; font-size:13px; line-height:18px; width:400px; height:70px; position:absolute; top:280px; left:0px; }
.freeze_ok_btn { width:275px; height:90px; position:absolute; top:355px; left:65px; text-indent:-9999px; }
/*-- 微博发布成功 --*/
.publish { background:url(img/publish_ok_bg.png) no-repeat; width:683px; height:480px; position:absolute; z-index:9999; left:50%; margin:0 0 0 -341px; top:100px; }
.publish_con { width:305px; height:100%; margin:0 auto; position:relative; }
.publish_btn1 { width:305px; height:85px; position:absolute; top:200px; left:0px; text-indent:-9999px; }
.publish_btn2 { width:305px; height:85px; position:absolute; top:270px; left:0px; text-indent:-9999px; }
/*-- 微博返回-未授权情况下 --*/
.empower { background:url(img/empower_bg.png) no-repeat; width:668px; height:475px; position:absolute; z-index:9999; left:50%; margin:0 0 0 -334px; top:100px; }
.empower_con { width:430px; height:100%; margin:0 auto; position:relative; }
.freezed { padding-top:95px; width:130px; }
.freezed .fri_face { height:130px; text-align:center; }
.freezed .fri_face img { border:2px #fff solid; }
.freezed h2 { height:22px; padding-top:13px; text-align:center;  font-size:12px; font-weight:bolder; color: #fff; width:100%; background:url(img/name_bg.png) center no-repeat; }
.freezed .name { overflow:hidden; display:block; height:20px; overflow:hidden; line-height:16px; }
.empower_btn { width:185px; height:80px; position:absolute; top:270px; left:125px; text-indent:-9999px; }
/* 微博返回-提示授权 */
.login_sina { background:url(img/login_sina_bg.png) no-repeat; width:683px; height:480px; position:absolute; z-index:9999; left:50%; margin:0 0 0 -341px; top:100px; }
.login_sina_con { width:300px; height:100%; margin:0 auto; position:relative; }
.login_sina_btn1 { width:55px; height:55px; position:absolute; top:96px; right:-100px; text-indent:-9999px; }
.login_sina_btn2 { width:300px; height:90px; position:absolute; top:264px; left:0px; text-indent:-9999px; }
/* 微博返回-提示授权 */
.login_tqq { background:url(img/login_tqq_bg.png) no-repeat; width:683px; height:480px; position:absolute; z-index:9999; left:50%; margin:0 0 0 -341px; top:100px; }
.login_tqq_con { width:300px; height:100%; margin:0 auto; position:relative; }
.login_tqq_btn1 { width:55px; height:55px; position:absolute; top:96px; right:-100px; text-indent:-9999px; }
.login_tqq_btn2 { width:300px; height:90px; position:absolute; top:264px; left:0px; text-indent:-9999px; }
/*-- 微博返回-授权成功-被冻的人 --*/
.frozen { background:url(img/frozen_bg.png) no-repeat; width:683px; height:507px; position:absolute; z-index:9999; left:50%; margin:0 0 0 -341px; top:100px; }
.frozen_con { width:430px; height:100%; margin:0 auto; position:relative; }
.frozen_txt { text-align:center; color:#f0ebeb; font-size:13px; line-height:18px; width:430px; height:70px; position:absolute; top:264px; left:0px; }
.frozen_btn { width:265px; height:90px; position:absolute; top:318px; left:92px; text-indent:-9999px; }
/*-- 微博返回-求助 --*/
.help { background:url(img/help_bg.png) no-repeat; width:992px; height:602px; position:absolute; z-index:9999; left:50%; margin:0 0 0 -486px; top:100px; }
.help_con { width:720px; height:100%; margin:0 auto; position:relative; }
.help_con .search { width:175px; height:25px; line-height:25px; position:absolute; *zoom:1;
left:485px; *left:500px;
top:88px; border:0; background:none; color:#cfd5d9; }
.help_con .friends { top:115px; left:475px; *left:490px;
}
.help_con .select_content { padding-top:160px; }
.help_txt { text-align:center; color:#f0ebeb; font-size:13px; line-height:18px; width:430px; height:70px; position:absolute; top:340px; left:150px; }
.help_btn { width:185px; height:80px; position:absolute; top:388px; left:268px; text-indent:-9999px; }
/* 微博返回-求助成功 */
.help_ok { background:url(img/help_ok_bg.png) no-repeat; width:683px; height:480px; position:absolute; z-index:9999; left:50%; margin:0 0 0 -341px; top:100px; }
.help_ok_con { width:300px; height:100%; margin:0 auto; position:relative; }
.help_ok_btn1 { width:300px; height:88px; position:absolute; top:220px; left:0px; text-indent:-9999px; }
.help_ok_btn2 { width:300px; height:88px; position:absolute; top:295px; left:0px; text-indent:-9999px; }
/*-- 微博返回-授权成功-其他人 --*/
.saved { background:url(img/saved_bg.png) center 10px no-repeat; width:776px; height:600px; position:absolute; z-index:9999; left:50%; margin:0 0 0 -388px; top:100px; }
.saved_con { width:440px; height:100%; margin:0 auto; position:relative; }
.saved_txt { text-align:center; color:#f0ebeb; font-size:13px; line-height:18px; width:300px; height:30px; position:absolute; top:280px; left:100px; }
.saved_btn1 { width:295px; height:90px; position:absolute; top:300px; left:92px; text-indent:-9999px; }
.saved_btn2 { width:275px; height:90px; position:absolute; top:375px; left:92px; text-indent:-9999px; }
/* 微博返回-解救成功 */
.save_ok { background:url(img/save_ok_bg.png) no-repeat; width:683px; height:480px; position:absolute; z-index:9999; left:50%; margin:0 0 0 -341px; top:100px; }
.save_ok_con { width:300px; height:100%; margin:0 auto; position:relative; }
.save_ok_btn1 { width:300px; height:65px; position:absolute; top:210px; left:0px; text-indent:-9999px; }
.save_ok_btn2 { width:300px; height:65px; position:absolute; top:274px; left:0px; text-indent:-9999px; }
