/**
 * Markup by SonicHTML
 * http://www.sonichtml.com
 */
/*-- index_most --*/
.index_most{overflow: hidden;*zoom:1;width:1000px;height:582px;margin:0 auto;}
	.most_cont{position: relative; width:100%; height:546px;background:url(img/most_cont.png) no-repeat;}
		.most_cont_01{width:330px; height:130px; position:absolute; left:180px; top:140px;}
		.most_cont_01 .title{width:330px; height:30px; line-height:30px; color:#df8a36;}
		.most_cont_01 .content{width:330px; height:100px; line-height:20px; color:#4f4f4e;}
		.most_cont_01 .content span{color:#df8a36;}
		
		.most_cont_02{width:290px; height:170px; position:absolute; left:190px; top:324px; padding:5px;}
		.most_query{width:244px; height:50px; position:absolute; left:600px; bottom:10px; background:url(img/most_query.png) no-repeat;}
		.most_query a{height:50px; display:block; text-indent:-9999px;}
		

	
