/**
 * Markup by SonicHTML
 * http://www.sonichtml.com
 */
.content.wide_1200{width:1200px; background:url(img/save_bg.jpg) no-repeat;}
/*-- index_save --*/
.index_save{*zoom:1;width:888px;height:auto;margin:0 auto;position:relative; }
	.layer_share{position:absolute;right:170px;top:485px;width:132px;height:76px;background: url(img/layer_share.png) no-repeat; visibility:hidden;}
		.layer_share em{position:absolute;z-index:10;left:-10px;top:-25px;width:160px;height:44px;background: url(img/share_tip.png) no-repeat;}
		
	.save_content{width:692px; height:390px; padding-top:56px;margin:0 auto;position:relative;}
		.save_content #loadingbar{width:100%; height:100%; position:absolute; top:0; left:0; background:url(img/loading.gif) center no-repeat;}
		.weather{color:#fff; text-align:right;position:absolute; top:60px; right:10px; z-index:200;}
			.weather .weather_r{float:right;}
			.weather .monthRday{font-size:15px; padding-top:6px;}
			.weather .air_quality{font-size:20px;}
			.weather .air_temp{font-size:45px;}
		.move{position:absolute; left:0; bottom:0; display:none; }
		#m1{z-index:100;}
		#m2{z-index:101;}
		#m3{z-index:102;}
		#m4{z-index:103;}
		#m5{z-index:104;}
		#m6{z-index:105;}
		#m7{z-index:106;}
		#m8{z-index:107;}
		#m9{z-index:108;}
		#m10{z-index:109;}
		#m11{z-index:110;}
		#m12{z-index:111;}
		#m13{z-index:112;}
		#m14{z-index:113;}
		#m15{z-index:114;}

	
	.save_hidden{width:888px;height:582px; background:url(img/save_transparent.png) bottom no-repeat; display:none;position:absolute; top:0; left:0; z-index:500;}
	.save_hidden.blocks{display:block;}
	/*-- 存温度 --*/
	.temperature{width:586px; height:546px; margin:36px auto 0 auto; background:url(img/temperature_bg.png) center bottom no-repeat; position:relative;}
		.temperature .temperature_size{width:336px; height:146px; font-size:18px; line-height:28px; text-align:center; color:#734b16; position:absolute; top:150px; left:130px;}
		.temperature .temperature_btn{width:81px; height:45px; position:absolute; top:310px; left:260px; background:url(img/temprature_btn.png) no-repeat;}
		.temperature .temperature_btn a{height:45px; display:block; text-indent:-9999px;}
	/*-- 城市 --*/
	.city{width:586px; height:546px; margin:36px auto 0 auto; background:url(img/city_bg.png) center bottom no-repeat; position:relative;}
		.city .city_size{width:300px; height:95px; font-size:67px; line-height:92px; text-align:center; color:#734b16; position:absolute; top:140px; left:150px;}
		.city .city_select{width:196px; height:25px; position:absolute; top:260px; left:260px;}
		.city .city_btn{width:81px; height:45px; position:absolute; top:310px; left:260px; background:url(img/city_next.png) no-repeat;}
		.city .city_btn a{height:45px; display:block; text-indent:-9999px;}	
	/*-- 城市 --*/
	.share{width:586px; height:548px; margin:36px auto 0 auto; background:url(img/share_bg.png) center bottom no-repeat; position:relative;}
		.share .share_box{width:430px; position:absolute; top:170px; left:108px;}
		.share .share_select{width:110px; height:24px; line-height:24px; margin-right:28px;}
		.share .share_con{width:394px; height:74px; position:absolute; left:101px; top:272px;}
		.share .share_text{width:394px; height:74px; border:0; line-height:18px;}
		.share .share_btn{width:81px; height:45px; position:absolute; top:380px; left:260px; background:url(img/city_next.png) no-repeat;}
		.share .share_btn a{height:45px; display:block; text-indent:-9999px;}
	/*-- 礼物 --*/
	.gift{width:586px; height:548px; margin:36px auto 0 auto; background:url(img/gift_bg.png) center bottom no-repeat; position:relative;}
		.gift .gift_box{width:220px; position:absolute; top:159px; left:215px;}
		.gift .gift_box .gift_input{width:220px; height:22px; margin-bottom:23px;}
		.gift .gift_box .input_t{width:210px; height:22px; border:0; padding:0 2px;}
		.gift .gift_btn{width:81px; height:45px; position:absolute; top:340px; left:260px; background:url(img/temprature_btn.png) no-repeat;}
		.gift .gift_btn a{height:45px; display:block; text-indent:-9999px;}
	/*-- 参与 --*/
	.attend{width:586px; height:548px; margin:36px auto 0 auto; background:url(img/attend_bg.png) center bottom no-repeat; position:relative;}
		.attend .attend_01{width:105px; height:151px; position:absolute; top:159px; left:88px;}
		.attend .attend_02{width:116px; height:153px; position:absolute; top:159px; left:236px;}
		.attend .attend_03{width:118px; height:154px; position:absolute; top:159px; left:390px;}
		.attend .attend_btn{width:94px; height:33px; position:absolute; top:350px; left:420px; background:url(img/attend_btn.png) no-repeat;}
		.attend .attend_btn a{height:33px; display:block; text-indent:-9999px;}
		
		