/**
 * Markup by SonicHTML
 * http://www.sonichtml.com
 */
.content.wide_1200{width:1200px; background:url(img/withdraw_bg.jpg) no-repeat;}
/*-- index_withdraw --*/
.index_withdraw{*zoom:1;width:888px;height:auto;margin:0 auto; position:relative;}
	.withdraw_content{width:560px; height:540px; margin:0 auto; padding-top:70px;position:relative;}
	.index_withdraw .step01{background:url(img/step01_bg.png) no-repeat;}
	.index_withdraw .step02{background:url(img/step01_bg.png) no-repeat;}
	.index_withdraw .step03{background:url(img/step03_bg.png) no-repeat;}
	
	.step_title{width:460px; height:80px; margin:0 auto;}
	.s01{background:url(img/withdraw_step01.png) bottom center no-repeat;}
	.s02{background:url(img/withdraw_step02.png) bottom center no-repeat;}
	.s03{height:102px;background:url(img/withdraw_step03.png) bottom center no-repeat;}
	
	
	.donate_num{width:270px;position:absolute; top:150px; left:60px;  line-height:50px;text-align:right; font:normal 50px 'digifaceregular';color:#7ffdc0;
	-webkit-text-shadow:0 0 4px #4fe09b,1px 1px 2px #000;
		   -moz-text-shadow:0 0 4px #4fe09b,1px 1px 2px #000;
		        text-shadow:0 0 4px #4fe09b,1px 1px 2px #000;
				   behavior: url(PIE.htc);
		}
	.donate_num .num_inp{width:100%; height:100%; padding:0; background:none; border:0; text-align:right; font:normal 50px 'digifaceregular';color:#7ffdc0;
	-webkit-text-shadow:0 0 4px #4fe09b,1px 1px 2px #000;
		   -moz-text-shadow:0 0 4px #4fe09b,1px 1px 2px #000;
		        text-shadow:0 0 4px #4fe09b,1px 1px 2px #000;
				   behavior: url(PIE.htc);
	}
	.withdraw_content .donate_btn{width:110px; height:67px; position:absolute; top:150px; right:45px; background:url(img/withdraw_btn.png) no-repeat;}
		.withdraw_content .donate_btn a{height:67px; display:block; text-indent:-9999px;}
		
	.withdraw_content .intro_btn{width:74px; height:70px; position:absolute; top:450px; left:7px; background:url(img/intro_btn.png) no-repeat;}
		.withdraw_content .intro_btn a{height:70px; display:block; text-indent:-9999px;}
		
	.withdraw_content .withdraw_next{width:74px; height:70px; position:absolute; top:450px; right:7px; background:url(img/withdraw_next.png) no-repeat;}
		.withdraw_content .withdraw_next a{height:70px; display:block; text-indent:-9999px;}
	
	.withdraw_content .upload_btn{width:52px; height:59px; overflow:hidden; position:absolute; top:320px; right:90px; background:url(img/upload_btn.png) no-repeat; }
		.withdraw_content .upload_btn input{cursor:pointer;font-size:50px;filter:alpha(opacity=0); -moz-opacity: 0; opacity: 0; position:absolute; right:0;}
		
	.donate_total{width:220px;position:absolute; top:375px; left:88px; line-height:40px;text-align:right;font:italic 40px 'digifaceregular';color:#7ffdc0;
		-webkit-text-shadow:0 0 4px #4fe09b,1px 1px 2px #000;
		   -moz-text-shadow:0 0 4px #4fe09b,1px 1px 2px #000;
		        text-shadow:0 0 4px #4fe09b,1px 1px 2px #000;
				   behavior: url(PIE.htc);}
	.step_content{width:395px; height:218px; position:absolute; top:255px; left:81px;}
		.step_content01{width:395px; height:218px; background:url(img/step_content01.png) top center no-repeat;}
		.step_content02{width:392px; height:284px; background:url(img/step_content02.png) top center no-repeat;}
		.step_content03{width:395px; height:218px; background:url(img/step_content03.png) top center no-repeat;}

	.ticket{width:100%; height:100%; position:relative;}
		.ticket span{position:absolute; }
		.ticket #name{font-size:16px; color:#b49362;top:168px; left:50px;}
		.ticket #date{font-size:12px; color:#a11b19;top:197px; left:100px;}
		.ticket #num{font-size:12px; color:#d07114;top:198px; left:292px;}
	 .file_inp{width:360px; height:27px; line-height:27px; text-align:center; margin:0 auto; padding-top:15px;}
	.withdraw_hidden{width:888px;height:582px; background:url(img/donate_transparent.png) center no-repeat; display:none;position:absolute; top:0; left:0;}
	.withdraw_hidden.blocks{display:block;}
	.withdraw_hidden .close{width:20px; height:20px; background:url(black.gif); margin:0;position:absolute; right:208px; top:67px; z-index:50;}
	
	/*-- 温暖礼券使用说明  --*/
	.introduction{width:586px; height:546px;font-size:12px;color:#595857;line-height:21px;margin:36px auto 0 auto; background:url(img/introduction_bg.png) center 20px no-repeat; position:relative;}
		.introduction .tips{width:415px;margin:0 auto; padding-top:85px;padding-bottom:15px;border-bottom:1px #d4d2d0 solid;}
		.introduction .tips li{padding-left:22px;margin-bottom:10px;}
		.introduction .tips li.tips1{background:url(img/tips1.gif) left top no-repeat;}
		.introduction .tips li.tips2{background:url(img/tips2.gif) left top no-repeat;}
		.introduction .tips li.tips3{background:url(img/tips3.gif) left top no-repeat;}
		.introduction .tips li.tips4{background:url(img/tips4.gif) left top no-repeat;}
		.introduction .tips li a{color:#df9349; font-weight:700;}
		.introduction .branch{width:173px; height:50px; background:url(img/branch_bg.png) no-repeat; margin:0 auto; padding:70px 0 0 0;}
		.introduction .most_query{width:244px; height:50px; display:block; text-indent:-9999px;background:url(img/most_query.png) no-repeat;}
		
		
		.introduction .reunion_size{width:415px; height:130px;padding-top:15px;border-top:1px #fff solid; margin:0 auto; }
		.introduction .reunion_btn{width:81px; height:45px; position:absolute; top:320px; left:260px; background:url(img/temprature_btn.png) no-repeat;}
		.introduction .reunion_btn a{height:45px; display:block; text-indent:-9999px;}	
		
	/*-- 感谢您的参与  --*/
	.thanks{width:586px; height:546px;font-size:12px;color:#595857;line-height:21px;margin:36px auto 0 auto; background:url(img/thanks_bg.png) center 20px no-repeat; position:relative;}
		.thanks .thanks_size{width:380px; height:195px; font-size:18px; line-height:28px; text-align:center; color:#734b16; position:absolute; top:130px; left:100px;}
		.thanks .thanks_size p{border-bottom:1px #d4d2d0 solid;}
		.thanks .branch{border-top:1px #fff solid;width:100%; height:50px; background:url(img/branch_tel_bg.png) 85px 15px no-repeat; margin:0 auto; padding:115px 0 0 0;}
		.thanks .most_query{width:244px; height:50px; display:block; margin-left:90px; text-indent:-9999px;background:url(img/most_query.png) no-repeat;}
		
	/*-- 礼物 --*/
	.gift{width:586px; height:548px; margin:36px auto 0 auto; background:url(img/gift_bg_w.png) center 20px no-repeat; position:relative;}
		.gift .gift_box{width:220px; position:absolute; top:150px; left:215px;}
		.gift .gift_box .gift_input{width:220px; height:22px; overflow:hidden; padding-bottom:23px;}
		.gift .gift_box .input_t{width:210px; height:22px; border:0; background:none; padding:0 2px;}
		.gift .gift_btn{width:81px; height:45px; position:absolute; top:340px; left:260px; background:url(img/temprature_btn.png) no-repeat;}
		.gift .gift_btn a{height:45px; display:block; text-indent:-9999px;}